  .navbar .nav-link {
    color: #757575;
    font-size: 1.15em;
    font-weight: 600;
  }
  
  .navbar .nav-link:hover {
    color: #9fc856;
  }
  
  .navbar .nav-link.active {
    color: #9fc856;
    font-weight: 600;
  }
  
  .navbar .icon {
    margin-right: 8px;
    font-size: 24px;
  }
  
  .navbar-dropdown {
    position: fixed;
    padding-bottom: 10px;
    padding-left: 10px;
    bottom: 0;
  }
  
  .dropdown-text {
    margin-left: 10px;
    background-color: transparent !important;
    font-size: 16px;
    border: none;
    padding: 0;
    color: #757575;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
  }
  
  .dropdown-text:hover {
    color: #9fc856;
    box-shadow: none;
    outline: none;
    background-color: transparent !important;
  }
  
  .dropdown-text:active {
    font-weight: 600;
    color: #9fc856;
    box-shadow: none;
    outline: none;
    background-color: transparent !important;
  }
  
  .dropdown-text:focus {
    font-weight: 600;
    color: #9fc856;
    box-shadow: none;
    outline: none;
    background-color: transparent !important;
  }
  
  /* Custom styles for the round image */
  .round-image {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    border-radius: 50%;
  }